{% extends "layout.html" %}
{% block main %}
    <h1>Welcome</h1>
    {% for message in messages %}
        <div class="panel panel-default" id="{{message.messageId}}">
            <div class="panel-heading">
                {{message.title}} for
                {% if message.a_pos%}
                <span class="badge">A+</span>
                {% endif %}
                {% if message.a_neg%}
                <span class="badge">A-</span>
                {% endif %}
                {% if message.b_pos%}
                <span class="badge">B+</span>
                {% endif %}
                {% if message.b_neg%}
                <span class="badge">B-</span>
                {% endif %}
                {% if message.o_pos%}
                <span class="badge">O+</span>
                {% endif %}
                {% if message.o_neg%}
                <span class="badge">O-</span>
                {% endif %}
                {% if message.ab_pos%}
                <span class="badge">AB+</span>
                {% endif %}
                {% if message.ab_neg%}
                <span class="badge">AB-</span>
                {% endif %}
            </div>
            <div class="panel-body">{{message.message}}</div>
            <div class="panel-footer">
                <span>Requested by {{message.name}} ({{message.email}}) on {{message.messageCreated}}</span>
                {% if message.profileId == session.profile.id%}
                <button class="btn btn-danger btn-sm" onclick=archiveMessage('{{message.messageId}}')>Archive</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}